.advantage-list {
    display: flex;
    margin-left: -30px;
  }
  .advantage-list-item {
    flex-basis: calc((100%-120px) / 4);
    margin-left: 30px;
  }
  .advantage-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .advantage-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color-secondary-medium);
  }
  
  .advantage-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  