.hero-btn {
    border: transparent;
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-text-color);
    color: var(--tertiary-text-color-lite);
    filter: drop-shadow(0px 4px 4px var(--btn-shadow));
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--background-active-btn-hero);
  }
